.container_channels{
    padding: 20px;
    background-color: #ffffff;
    position: relative;
    width: 100%;
}

.box_title_channels{
    margin-bottom: 30px;
}

.title_channels{
    margin: 0;
    color: #64748B;
}

.box_star{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.image_icon{
    position: absolute;
    background: #c5c5c4ad;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -13px;
    right: -13px;
}

.image_user{
    border-radius: 15px;
    border: 2px solid white;
    width: 200px;
    height: 200px;
    /* overflow: hidden; */
    position: relative;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 25px;
}

.image_user_rounded{
    border-radius: 15px;
}

.box_btn_channels{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #85C88A;
    padding: 0 20px;
    cursor: pointer;
    height: 35px;
    margin-bottom: 40px;
}

.box_btn_channels_title{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.box_icons_channels{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
    z-index: 60;
}

.image_contacto{
    position: absolute;
    bottom: 0;
    right: 0;
}